<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBe_6qREUjitGXnyfU2uEH5ouMOE_kMlJI</string>
	<key>GCM_SENDER_ID</key>
	<string>455878894655</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>steveNimo.type2DProj</string>
	<key>PROJECT_ID</key>
	<string>type2dapp</string>
	<key>STORAGE_BUCKET</key>
	<string>type2dapp.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:455878894655:ios:6b6c2cce3b682539a9848a</string>
</dict>
</plist>
